!.github
!.gitignore
!.gitattributes
!install.sh
tkginstaller-bin/
*~
.*
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar.gz
*.tar.zst
*.old
*.db
*.files
src/
pkg/
.vscode/
*.code-workspace
*.swp
*.swo
*~
.*.sw?
*.kate-swp
gnupg/
.github/copilot-instructions.md
.github/instructions/*
.github/agents/*
